
#form {
    max-width: 600px;
    margin: 20px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  #form img {
    max-width: 100px;
    max-height: 100px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="button"] {
    background-color: #0082AD;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #0082AD;
  }