form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 150px;
  }
  
  /* CSS cho label và input */
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* CSS cho nút Đăng nhập và Hủy */
  input[type="submit"],
  input[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="button"] {
    background-color: #ccc;
  }
  
  /* CSS cho thông báo lỗi */
  .failure {
    color: red;
    margin-top: 10px;
  }